<content-loader viewBox="0 0 400 290" *ngIf="show" class="d-none d-lg-block p-3">
  <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="150" />
  <svg:rect x="155" y="0" rx="3" ry="3" width="120" height="10" />
  <svg:rect x="155" y="20" rx="3" ry="3" width="220" height="10" />
  <svg:rect x="155" y="40" rx="3" ry="3" width="170" height="10" />
  <svg:rect x="155" y="60" rx="3" ry="3" width="250" height="10" />
  <svg:rect x="155" y="80" rx="3" ry="3" width="200" height="10" />
  <svg:rect x="155" y="100" rx="3" ry="3" width="80" height="10" />
  <svg:rect x="155" y="120" rx="3" ry="3" width="170" height="10" />
  <svg:rect x="0" y="155" rx="3" ry="3" width="200" height="10" />
  <svg:rect x="0" y="195" rx="3" ry="3" width="270" height="10" />
  <svg:rect x="0" y="215" rx="3" ry="3" width="350" height="10" />
  <svg:rect x="0" y="235" rx="3" ry="3" width="300" height="10" />
  <svg:rect x="0" y="255" rx="3" ry="3" width="180" height="10" />
  <svg:rect x="0" y="275" rx="3" ry="3" width="270" height="10" />
</content-loader>
<content-loader viewBox="0 0 400 655" *ngIf="show" class="d-lg-none p-3">
  <svg:rect x="0" y="0" rx="3" ry="3" width="400" height="400" />
  <svg:rect x="0" y="405" rx="3" ry="3" width="200" height="10" />
  <svg:rect x="0" y="445" rx="3" ry="3" width="270" height="10" />
  <svg:rect x="0" y="465" rx="3" ry="3" width="350" height="10" />
  <svg:rect x="0" y="485" rx="3" ry="3" width="300" height="10" />
  <svg:rect x="0" y="505" rx="3" ry="3" width="180" height="10" />
  <svg:rect x="0" y="525" rx="3" ry="3" width="270" height="10" />
  <svg:rect x="0" y="545" rx="3" ry="3" width="200" height="10" />
  <svg:rect x="0" y="565" rx="3" ry="3" width="270" height="10" />
  <svg:rect x="0" y="585" rx="3" ry="3" width="350" height="10" />
  <svg:rect x="0" y="605" rx="3" ry="3" width="300" height="10" />
  <svg:rect x="0" y="625" rx="3" ry="3" width="180" height="10" />
  <svg:rect x="0" y="645" rx="3" ry="3" width="270" height="10" />
</content-loader>
